<%= form_with(model: [survey, section, question], class: "mt-5 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2", data: {
  controller: "nested-form",
  nested_form_wrapper_selector_value: '.nested-form-wrapper'
}) do |form| %>
  <div class="px-4 py-6 sm:p-8">
    <div class="grid max-w-full grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-full">
        <%= form.label :title, class: "block" %>
        <div class="mt-2">
          <%= form.text_field :title, class: "w-full" %>
          <%= inline_error_for(:title, question).html_safe %>
        </div>
      </div>

      <div class="sm:col-span-full">
        <%= form.label :question_type, class: "block" %>
        <div class="mt-2">
          <%= form.select :question_type, options_for_select(Question.question_types.map {|key, value| [key.humanize, key]}, question.question_type) %>
          <%= inline_error_for(:question_type, question).html_safe %>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <h2 class="mb-3 text-base font-semibold leading-7 text-gray-500">Enter the options if the response type is <span class="text-red-500">(Single-select or Multiple-select)*</span></h2>
      <div class="bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2 p-5">
        <template data-nested-form-target="template">
          <%= form.fields_for :options, Option.new, child_index: 'NEW_RECORD' do |option_fields| %>
                <%= render "option_fields", f: option_fields %>
          <% end %>
        </template>
        <%= form.fields_for :options do |option_fields| %>
          <%= render "option_fields", f: option_fields %>
        <% end %>

        <div data-nested-form-target="target"></div>
      </div>
      <button type="button" data-action="nested-form#add" class="mt-4 text-indigo-500">+ Add option</button>
    </div>
  </div>
  <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
    <button data-action="click->right#hide" type="button" class= "text-sm font-semibold leading-6 text-gray-900">
      <%= t("buttons.cancel") %>
    </button>
    <%= form.submit (action_name == 'new' ? t("buttons.add") : t("buttons.edit") ) %>
  </div>
<% end %>
