<div id="<%= dom_id announcement %>" class="overflow-hidden bg-white shadow sm:rounded-lg p-5 my-10">
  <div class="relative flex items-start space-x-3">
    <div class="relative w-11/12">
      <div class="flex items-center gap-x-4 text-xs">
        <%= announcement.published_at.strftime('%b %d, %Y') %>
        <span class="relative rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100"> <%= Announcement.human_enum_name(:status, announcement.status) %></span>
      </div>
      <div class="group relative max-w-xl">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-indigo-500 group-hover:text-gray-600"><%= announcement.title %></h3>
        <p class="mt-5 text-sm leading-6 text-gray-600"><%= announcement.content %></p>
      </div>
      <div class="mt-6 flex border-t border-gray-900/5 pt-6">
        <div class="relative flex items-center gap-x-4">
          <%= image_tag announcement.user.avatar_url_or_default, class: "rounded-full h-10 w-10 align-middle" %>
          <p class="font-medium text-gray-900"><%= announcement.user.full_name %></p>
        </div>
      </div>
    </div>

    <div class="min-w-0 flex-1">
      <div class="inline-block text-sm px-4 py-2 leading-none rounded no-underline text-gray hover:text-gray-900 hover:bg-white mt-4 lg:mt-0">
        <div class="relative" data-controller="dropdown">
          <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
            <span class="appearance-none flex items-center inline-block text-gray-700">
              <span class="sr-only">Open options</span>
              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
              </svg>
            </span>
          </div>
          <div data-dropdown-target="menu" class="absolute right-0 mt-2 w-56 origin-top-right divide-y divide-gray-100 rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <%= link_to  t("buttons.edit"), edit_announcement_path(announcement), data: { turbo_frame: "right_content", action: "right#show" }, class: 'no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
            <%= button_to t("buttons.delete"), "/announcements/#{announcement.id}", method: :delete, data: {turbo_confirm: t("popups.message_delete"), action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 border-t text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
