<%= turbo_frame_tag "tabbed-content" do %>
  <%= render partial: 'shared/breadcrumbs' %>
  <div class="px-4 sm:px-6 lg:px-8 mt-5">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1><%= t("views.announcements.title_announcements") %></h1>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%= link_to t("views.announcements.create_announcement"), new_announcement_path, class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", data: { turbo_frame: "right_content", action: "right#show" } %>
      </div>
    </div>

    <div id="announcement-list">
      <%= render @announcements %>
    </div>
  </div>
<% end %>
