<%= form_with(model: holiday) do |form| %>
  <% if holiday.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(holiday.errors.count, "error") %> <%= t("errors.prohibited") %></h2>
      <ul>
        <% holiday.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
    <div class="sm:col-span-2 sm:col-start-1">
      <%= form.label :name, t("attributes.shared.name"), class: "block" %>
      <div class="mt-2">
        <%= form.text_field :name, class: "w-full" %>
      </div>
    </div>

    <div class="sm:col-span-2">
      <%= form.label :start_date, t("attributes.shared.start_date"), class: "block" %>
      <div class="mt-2">
        <%= form.date_field :start_date, class: "w-full" %>
      </div>
    </div>

    <div class="sm:col-span-2">
      <%= form.label :end_date, t("attributes.shared.end_date"), class: "block" %>
      <div class="mt-2">
        <%= form.date_field :end_date, class: "w-full" %>
      </div>
    </div>
  </div>

  <div class="flex items-center justify-end gap-x-6 px-4 py-4 sm:px-8">
    <%= link_to t("buttons.cancel"), holidays_path, class: "rounded-md bg-white px-5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50 sm:block mr-2" %>
    <%= form.submit (action_name == 'new' ? t("buttons.add") : t("buttons.edit") ) %>
  </div>
<% end %>
