<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset ">
        <div class="p-8 pb-0 ">
          <h3 class="text-xl leading-6 font-medium text-gray-700 dark:text-gray-200"><%= t("devise.registrations.edit.change_password") %></h3>
        </div>
        <div class="p-8 ">
          <div class="grid grid-cols-6 gap-6 grid-flow-row">
            <div class="col-span-6 sm:col-span-4">
              <%= f.label :current_password, t("devise.registrations.edit.current_password"), class: "block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
              <div class="mt-1 relative rounded-md shadow-sm">
                <%= f.password_field :current_password, autocomplete: "current-password", class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input" %>
              </div>
              <div class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"></div>
            </div>
            <div class="col-span-6 sm:col-span-4">
              <%= f.label :password, t("views.shared.password"), class: "inline-block text-sm font-medium text-gray-700 dark:text-gray-200 mr-2" %>
              <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> <%= t("devise.shared.characters_minimum") %>)</em>
              <% end %>
              <div class="mt-1 relative rounded-md shadow-sm">
                <%= f.password_field :password, autocomplete: "new-password", class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input" %>
              </div>
              <div class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"></div>
            </div>
            <div class="col-span-6 sm:col-span-4">
              <%= f.label :password_confirmation, t("devise.shared.password_confirmation"), class: "block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
              <div class="mt-1 relative rounded-md shadow-sm">
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input" %>
              </div>
              <div class="mt-2 text-sm text-red-600 dark:text-red-500 hidden"></div>
            </div>
          </div>
        </div>
        <div class="p-8 pt-0 px-4 py-3 pt-3 bg-gray-50 text-right sm:px-6 dark:bg-gray-700/40">
          <%= f.submit t("buttons.save"), class: 'button button--primary py-2 px-4' %>
        </div>
      </div>
    <% end %>