<%= turbo_frame_tag "comments" do %>
  <div class="my-10 pointer-events-auto mx-auto max-w-xl rounded-xl bg-white p-6 shadow-lg ring-1 ring-gray-900/10">
    <div class="flow-root">
      <div id = "comments">
        <ul role="list" class="-mb-8">
          <% @comments.each do |comment| %>
            <% author = User.find(comment.author_id) %>
            <li>
              <div class="relative pb-8">
                <%= turbo_frame_tag dom_id(comment) do %>
                  <% unless @comments.last == comment %>
                    <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                  <% end %>
                  <div class="relative flex items-start space-x-3">
                    <div class="relative">
                      <%= image_tag author.avatar_url_or_default, class: "flex h-10 w-10 items-center justify-center rounded-full bg-gray-400 ring-8 ring-white" %>
                      <span class="absolute -bottom-0.5 -right-1 rounded-tl bg-white px-0.5 py-px">
                        <svg class="h-5 w-5 text-gray-400" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M10 2c-2.236 0-4.43.18-6.57.524C1.993 2.755 1 4.014 1 5.426v5.148c0 1.413.993 2.67 2.43 2.902.848.137 1.705.248 2.57.331v3.443a.75.75 0 001.28.53l3.58-3.579a.78.78 0 01.527-.224 41.202 41.202 0 005.183-.5c1.437-.232 2.43-1.49 2.43-2.903V5.426c0-1.413-.993-2.67-2.43-2.902A41.289 41.289 0 0010 2zm0 7a1 1 0 100-2 1 1 0 000 2zM8 8a1 1 0 11-2 0 1 1 0 012 0zm5 1a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd" />
                        </svg>
                      </span>
                    </div>
                    <div class="min-w-0 flex-1">
                      <div>
                        <p class="text-sm font-medium text-gray-900"><%= author.full_name %></p>
                        <p class="mt-0.5 text-sm text-gray-500">Commented <%= time_ago_in_words(comment.created_at) %><%= " - Edited" unless comment.created_at == comment.updated_at %></p>
                      </div>
                      <div class="mt-2 text-sm text-gray-700">
                        <p><%= comment.content %></p>
                      </div>
                    </div>
                    <div class="min-w-0 flex-2">
                      <div class="inline-block text-sm px-4 py-2 leading-none rounded no-underline text-gray hover:text-gray-900 hover:bg-white mt-4 lg:mt-0">
                        <div class="relative" data-controller="dropdown">
                          <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
                            <span class="appearance-none flex items-center inline-block text-gray-700">
                              <span class="sr-only">Open options</span>
                              <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path d="M3 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM8.5 10a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM15.5 8.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z" />
                              </svg>
                            </span>
                          </div>
                          <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden">
                            <div class="bg-white shadow rounded border overflow-hidden">
                              <%= link_to 'Edit', edit_comment_path(comment), data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-8 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap' %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
      <%= render partial: "form", locals: {comment: Comment.new, commentable_type: @commentable_type, commentable_id: @commentable_id, author: current_user, url: @url} %>
    </div>
  </div>
<% end %>
