<div id="<%= dom_id task%>"class="overflow-hidden bg-white shadow sm:rounded-lg p-5 my-10">
  <div class="relative flex items-start space-x-3">
    <div class="relative w-3/4">
      <div class="flex items-center gap-x-4 text-xs">
        <%= task.due_date&.strftime('%b %d, %Y') %>
        <span class="relative rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100 flex items-center gap-x-1">
          <%= link_to t("views.tasks.do_it"), task.link, class: 'flex items-center text-gray-600 hover:text-gray-800' %>
         <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 text-gray-600">
           <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 4.5l7.5 7.5-7.5 7.5" />
         </svg>
       </span>
      </div>
      <div class="group relative max-w-xl">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-indigo-500 group-hover:text-gray-600"><%= task.title %></h3>
        <p class="mt-5 text-sm leading-6 text-gray-600"><%= task.description %></p>
      </div>
      <div class="mt-6 flex border-t border-gray-900/5 pt-6">
        <div class="relative flex items-center gap-x-4">
          <%= image_tag task.user.avatar_url_or_default, class: "rounded-full h-10 w-10 align-middle" %>
          <p class="font-medium text-gray-900"><%= task.author.full_name %></p>
        </div>
      </div>
    </div>

    <div class="min-w-0 flex-1 sm:w-3/4">
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none flex space-x-2">
        <%= link_to edit_user_task_path(task.user_id, task.id), class: "mr-2", data: { turbo_frame: "right_content", action: "right#show" } do %>
          <svg class="inline-block ml-4 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
          </svg>
        <% end %>
        <%= button_to  user_task_path(task.user_id, task.id), method: :delete, form_class: "inline-block ml-4", data: { turbo_confirm: t("popups.message_delete") } do %>
          <svg class="inline-block w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
          </svg>
        <% end %>
      </div>
    </div>
  </div>
</div>
