<div>
  <span class="inline-flex items-center rounded-full px-3 py-0.5 text-sm font-medium ">
    <%= mission_order.aasm_state %>
  </span>
</div>
<% mission_order.available_actions(current_user).each do |action| %>
  <%= button_to user_update_aasm_state_mission_order_path(user, mission_order, aasm_state: action), method: :patch, class: "flex items-center rounded-md px-5 py-2 text-base font-medium text-white hover:text-white shadow-sm bg-indigo-500 hover:bg-indigo-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900" do %>
    <span class="ml-2"><%= action %></span>
  <% end %>
<% end %>

<%= render 'shared/modal' do %>
  <% mission_order_status = mission_order_status(mission_order, "pay_button") %>
  <% if mission_order_status %>
    <%= link_to mission_order_status[:text], user_new_payment_mission_order_path(user, mission_order), class: "rounded-md px-5 py-2 text-base font-medium text-white hover:text-white shadow-sm bg-green-500 hover:bg-green-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900", data: {turbo_frame: 'modal-content', action: "modal#show"} %>
  <% end %>
<% end %>
