<div id="<%= dom_id mission_order %>">
  <p>
    <strong>Title:</strong>
    <%= mission_order.title %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= mission_order.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= mission_order.end_date %>
  </p>

  <p>
    <strong>Indemnity type:</strong>
    <%= mission_order.indemnity_type %>
  </p>

  <p>
    <strong>Accommodation:</strong>
    <%= mission_order.accommodation %>
  </p>

  <p>
    <strong>Mission type:</strong>
    <%= mission_order.mission_type %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= mission_order.location %>
  </p>

  <p>
    <strong>Site:</strong>
    <%= mission_order.site_id %>
  </p>

  <p>
    <strong>Transport means:</strong>
    <%= mission_order.transport_means %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= mission_order.description %>
  </p>

</div>
