<div class="px-4 sm:px-6 lg:px-8">
  <div id="" class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1> <%= t("views.jobs.jobs_list") %> </h1>
      </div>
      <div class="px-2 py-2 border border-transparent rounded-md leading-5 bg-gray-100 sm:text-sm transition">
        <div class="mx-auto max-w-3xl text-center sm:px-6 lg:max-w-7xl lg:px-8">
          <section aria-labelledby="filter-heading">
            <h2 id="filter-heading" class="sr-only">Product filters</h2>

            <div class="flex items-center justify-between">

              <button type="button" class="inline-block text-sm font-medium text-gray-700 hover:text-gray-900 sm:hidden">Filters</button>

              <div class="hidden sm:flex sm:items-baseline sm:space-x-8">
                <div id="desktop-menu-2" class="relative inline-block text-left">
                  <div>
                    <button type="button" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false">
                      <span>Filter by status</span>
                      <svg class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
                      </svg>
                    </button>
                  </div>
                  <div class="absolute left-0 z-10 mt-2 origin-top-left rounded-md bg-white p-4 shadow-2xl focus:outline-none">
                    <form class="space-y-4">
                      <div class="flex items-center">
                        <input id="filter-color-0" name="color[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-color-0" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900">Open</label>
                      </div>
                      <div class="flex items-center">
                        <input id="filter-color-1" name="color[]" value="black" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                        <label for="filter-color-1" class="ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900">Closed</label>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
        <%= render partial: "search_form", locals: {url: @url} %>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%= link_to new_job_path, class: "inline-flex items-center px-6 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" do %>
          <svg class="mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>
          <%= t("views.jobs.new") %>
        <% end %>
      </div>
  </div>
  <div class="mt-8 flow-root">
    <%= turbo_frame_tag "search-results" do %>
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"><%= t("attributes.job.title") %></th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"><%= t("attributes.job.location") %></th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"><%= t("attributes.job.status") %></th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"><%= t("attributes.job.min_salary") %></th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"><%= t("attributes.job.max_salary") %></th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"><%= t("attributes.job.applied") %></th>
                  <th scope="col" class="px-3 py-3.5 text-center text-sm font-semibold text-gray-900"><%= t("attributes.job.interviewing") %></th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0"></th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <% @jobs.each do |job| %>
                  <tr>
                    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-6">
                      <div class="flex items-center">
                        <div>
                          <%= link_to job_path(job), data: {turbo_frame: "_top"} do %>
                          <div class="font-medium font-semibold text-indigo-500"><%= job.title %></div>
                          <% end%>
                          <div class="mt-1 text-gray-500"><%= Job.human_enum_name(:job_type, job.job_type) %></div>
                        </div>
                      </div>
                    </td>
                    <td class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"><%= job.location %></td>
                    <td class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"><%= Job.human_enum_name(:status, job.status) %></td>
                    <td class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"><%= job.min_salary %></td>
                    <td class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"><%= job.max_salary %></td>
                    <td class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"><%= job.job_applications.count %></td>
                    <td class="whitespace-nowrap text-center px-3 py-5 text-sm text-gray-500"><%= job.job_applications.where(aasm_state: "advanced_interview").count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>

        <div class="flex items-center justify-between border-gray-300 bg-white p-4 sm:px-6">
          <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
          <div class="text-sm">
          <%= page_entries_info @jobs %>
            </div>
            <div>
              <%= paginate @jobs%>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

