<div class="border-b border-gray-200 pb-5 sm:pb-0 mt-20">
  <h3 class="text-base font-semibold leading-6 text-gray-900">Candidates</h3>
  <div class="mt-3 sm:mt-4">
    <!-- Dropdown menu on small screens -->
    <div class="sm:hidden">
      <label for="current-tab" class="sr-only">Select a tab</label>
      <select id="current-tab" name="current-tab" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
        <option>Applied</option>
        <option>Phone Screening</option>
        <option selected>Interview</option>
        <option>Offer</option>
        <option>Hired</option>
      </select>
    </div>
    <!-- Tabs at small breakpoint and up -->
    <div class="hidden sm:block">
      <nav class="-mb-px flex space-x-8 user-submenu">
        <!-- Current: "border-indigo-500 text-indigo-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
        <%= link_to 'User Profile', user_path(user), data: { turbo_frame: 'tabbed-content' } %>
        <%= link_to 'emergency contact', user_emergency_contacts_path(user), data: { turbo_frame: 'tabbed-content'} %>
        <%= link_to 'emergency contact', user_emergency_contact_path(user) %>
        <%= link_to 'emergency contact', user_emergency_contact_path(user) %>
        <%= link_to 'emergency contact', user_emergency_contact_path(user) %>
      </nav>
    </div>
  </div>
</div>
