  <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
    <div class="px-4 sm:px-0">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Personal Information</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">Use a permanent address where you can receive mail.</p>
    </div>

    <%= form_with(model: @user, class: "bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2") do |form| %>
      <div class="px-4 py-6 sm:p-8">
        <h1 class="my-5 text-blue-500 font-black">Basic informations</h1>
        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <div class="sm:col-span-3">
            <%= form.label :first_name, class: "block text-sm font-medium leading-6 text-gray-900" %> 
            <div class="mt-2">
              <%= form.text_field :first_name, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <%= form.label :last_name, class: "block text-sm font-medium leading-6 text-gray-900" %> 
            <div class="mt-2">
              <%= form.text_field :last_name, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %> 
            <div class="mt-2">
              <%= form.text_field :email, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-2">
            <%= form.label :birthdate, class: "block text-sm font-medium leading-6 text-gray-900" %> 
            <div class="mt-2">
              <%= form.date_field :birthdate, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <%= form.label :start_date, class: "block text-sm font-medium leading-6 text-gray-900" %> 
            <div class="mt-2">
              <%= form.date_field :start_date, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-3">
            <%= form.label :end_date, class: "block text-sm font-medium leading-6 text-gray-900" %> 
            <div class="mt-2">
              <%= form.date_field :end_date, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
            </div>
          </div>

          <div class="sm:col-span-2">
            <%= form.label :gender, class: "block text-sm font-medium leading-6 text-gray-900" %> 
            <div class="mt-2 px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
              <%= form.select :gender, options_for_select(User.genders.map {|key, value| [key.humanize, key]}) %>
            </div>
          </div>

          <div class="sm:col-span-2">
            <%= form.label :marital_status, class: "block text-sm font-medium leading-6 text-gray-900" %> 
            <div class="mt-2 px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
              <%= form.select :marital_status, options_for_select(User.marital_statuses.map {|key, value| [key.humanize, key]}) %>
            </div>
          </div>
        </div>
        <h1 class="my-5 text-blue-500 font-black">Address</h1>
        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
          <%= form.fields_for :address do |f| %>
            <div class="sm:col-span-4">
              <%= f.label :country, class: "block text-sm font-medium leading-6 text-gray-900" %> 
              <div class="mt-2 px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                <%= f.select :country, options_for_select(Address.countries.map {|key, value| [key.humanize, key]}) %>
              </div>
            </div>

            <div class="col-span-full">
              <%= f.label :street, "Street address", class: "block text-sm font-medium leading-6 text-gray-900" %> 
              <div class="mt-2">
                <%= f.text_field :street, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>

            <div class="col-span-2">
              <%= f.label :city, class: "block text-sm font-medium leading-6 text-gray-900" %> 
              <div class="mt-2">
                <%= f.text_field :city, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>

            <div class="sm:col-span-2">
              <div class="col-span-full">
              <%= f.label :zipcode, "ZIP / Postal code", class: "block text-sm font-medium leading-6 text-gray-900" %> 
              <div class="mt-2">
                <%= f.text_field :zipcode, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" %>
              </div>
            </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
        <%= form.submit "Save", class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
      </div>
    <% end %>
  </div>

  <div class="grid grid-cols-1 gap-x-8 gap-y-8 pt-10 md:grid-cols-3">
    <div class="px-4 sm:px-0">
      <h2 class="text-base font-semibold leading-7 text-gray-900">Experience</h2>
      <p class="mt-1 text-sm leading-6 text-gray-600">Use a permanent address where you can receive mail.</p>
    </div>
    <div>
      <ul role="list" class="divide-y divide-gray-200">
        <% 5.times do %>
          <li class="py-4">
            <div class="flex space-x-3">
              <img class="h-6 w-6 rounded-full" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=3&w=256&h=256&q=80" alt="">
              <div class="flex-1 space-y-1">
                <div class="flex items-center justify-between">
                  <h3 class="text-sm font-medium">Lindsay Walton</h3>
                  <p class="text-sm text-gray-500">1h</p>
                </div>
                <p class="text-sm text-gray-500">Deployed Workcation (2d89f0c8 in master) to production</p>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
