<div class="px-4 sm:px-6 lg:px-8">
  <div class="flex items-center justify-between h-16">
    <div class="flex items-center">
      <%= link_to "Add new employee", new_user_path, class:  "block rounded-md bg-indigo-500 px-3 py-2 text-center text-sm font-semibold text-white hover:text-white shadow-sm hover:bg-indigo-800 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"%>
    </div>
    <div class="flex-1 flex justify-center px-2 lg:ml-6 lg:justify-end">
      <%= render partial: "search_form" %>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Name</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Contract</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Service</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Brut salary</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Joining date</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">ID number</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Edit</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
            <% @users.each do |user| %>
              <tr>
                <td class="whitespace-nowrap py-5 pl-4 pr-3 text-sm sm:pl-0">
                  <div class="flex items-center">
                    <div class="h-11 w-11 flex-shrink-0">
                      <%= image_tag user.avatar_url_or_default, class: "h-11 w-11 rounded-full" %>
                    </div>
                    <div class="ml-4">
                      <div class="font-medium text-gray-900"><%= user.full_name %></div>
                      <div class="mt-1 text-gray-500"><%= user.email %></div>
                    </div>
                  </div>
                </td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500"><%= user.contract %></td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500"><%= user.service %></td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500"><%= user.brut_salary %></td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500"><%= user.joining_date %></td>
                <td class="whitespace-nowrap px-3 py-5 text-sm text-gray-500">
                  <span class="inline-flex rounded-full bg-green-100 px-2 text-xs font-semibold leading-5 text-green-800"><%= user.employee_number %></span>
                </td>
                <td class="relative whitespace-nowrap py-5 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  <%= link_to 'Edit', user_path(user), class: "text-indigo-600 hover:text-indigo-900" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="flex items-center justify-between border-t border-gray-200 bg-white p-4 sm:px-6">
  <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
    <div class="text-sm text-sky-500">
      <%= page_entries_info @users %>
    </div>
    <div>
      <%= paginate @users%>
    </div>
  </div>
</div>
