<div class="my-5 overflow-hidden bg-white shadow sm:rounded-lg lg:w-full lg:max-w-4xl lg:flex-auto p-8">
    <div class="flow-root">
      <ul role="list" class="-mb-8">
      <li>
          <div class="relative pb-8">
            <% unless aasm_logs.blank? %>
              <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
            <% end %>
            <div class="relative flex space-x-3">
              <div>
                <%= image_tag user.avatar_url_or_default, class: "rounded-full h-10 w-10 align-middle" %>
              </div>
              <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                <div>
                  <p class="text-sm text-gray-500"><%= t("attributes.job_application.applied_to") %> <span class="text-base font-semibold text-gray-900"><%= job_application.job.title %></span> <%= time_ago_in_words(job_application.created_at) %> <%= t("attributes.job_application.ago") %></p>
                </div>
              </div>
            </div>
          </div>
        </li>
        <% aasm_logs.each do |aasm_log| %>
          <li>
            <div class="relative pb-8">
              <% unless aasm_logs.last == aasm_log %>
                <span class="absolute left-5 top-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
              <% end %>
              <div class="relative flex space-x-3">
                <div>
                  <%= image_tag aasm_log.actor.avatar_url_or_default, class: "rounded-full h-10 w-10 align-middle" %>
                </div>
                <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                  <div>
                    <%
                      case aasm_log.to_state
                      when "advanced_to_phone"
                        job_application_state = t("attributes.job_application.aasm_states.advanced_to_phone")
                      when "completed_phone"
                        job_application_state = t("attributes.job_application.aasm_states.completed_phone")
                      when "advanced_interview"
                        job_application_state = t("attributes.job_application.aasm_states.advanced_to_interview")
                      when "completed_interview"
                        job_application_state = t("attributes.job_application.aasm_states.completed_interview")
                      when "disqualified"
                        job_application_state = t("attributes.job_application.aasm_states.disqualified")
                      end 
                    %>
                    <p class="text-sm text-gray-500"><%= job_application_state %> <span class="text-base font-semibold text-gray-900"><%= aasm_log.actor.full_name %></span> <%= time_ago_in_words(aasm_log.created_at) %> ago</p>
                  </div>
                </div>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>