<div class="mt-8 flow-root">
  <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
      <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
        <table class="min-w-full divide-y divide-gray-300">
          <thead class="bg-gray-50">
            <tr>
              <% if from_all_requests %>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-medium text-gray-900 sm:pl-6"><%= t("attributes.user_request.employee") %></th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-900"><%= t("attributes.user_request.request_type") %></th>
              <% else %>
                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-medium text-gray-900 sm:pl-6"><%= t("attributes.user_request.request_type") %></th>
              <% end %>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-900"><%= t("attributes.user_request.state") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-900"><%= t("attributes.user_request.managed_by") %></th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-medium text-gray-900"><%= t("attributes.shared.created_at") %></th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6"></th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200 bg-white">
          <% user_requests.each do |request| %>
            <% if request.requestable_type == "TimeRequest" %>
              <% request_type = request.requestable.class.human_enum_name(:category, request.requestable.category) %>
            <% else %>
              <% request_type = t("views.user_requests.request") %>
            <% end %>
            <tr>

              <% if from_all_requests %>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-6"><%= request.user.full_name %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= (request.requestable_type == "TimeRequest") ? "Time Off Request" : "Request" %></td>
              <% else %>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-6"><%= (request.requestable_type == "TimeRequest") ? "Time Off Request" : "Request" %></td>
              <% end %>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= request.state.humanize %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= (request.managed_by_id.present?) ? User.find(request.managed_by_id).full_name : "No one yet" %></td>
              <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= time_ago_in_words(request.created_at) %></td>
              <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                <div class="flex justify-center">
                  <%= link_to polymorphic_url([request.user, request.requestable]), data: { turbo_frame: "right_content", action: "right#show" } do %>
                    <svg class="inline-block w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
                      <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                  <% end %>
                  <% if request.pending? %>
                    <%= link_to edit_polymorphic_url([request.user, request.requestable]), data: {turbo_frame: "right_content", action: "right#show"} do %>
                      <svg class="inline-block ml-4 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
                      </svg>
                    <% end %>
                  <% end %>
                </div>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
