<%= form_with(model: [user, time_off_request], class: "table min-w-full") do |form| %>
  <div>
    <%= form.select :category, options_for_select(TimeOffRequest.categories.map {|key, value| [key.humanize, key]}, @time_off_request.category) %>
    <%= inline_error_for(:category, time_off_request) %>
  </div>
  <div>
    <%= form.date_field :start_date %>
    <%= inline_error_for(:start_date, time_off_request) %>
  </div>
  <div>
    <%= form.date_field :end_date %>
    <%= inline_error_for(:end_date, time_off_request) %>
  </div>
  <div></div>
  <div></div>
  <div class="inline">
    <%= form.submit %>
  </div>
<% end %>
