<%= form_with(model: [user, time_off_request]) do |form| %>
<div class="space-y-12">
  <% if time_off_request.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(time_off_request.errors.count, "error") %> prohibited this time_off_request from being saved:</h2>

      <ul>
        <% time_off_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-3">
        <%= form.label :start_date, style: "display: block" %>
        <div class="mt-2">
          <%= form.date_field :start_date, class: "w-full" %>
        </div>
      </div>

      <div class="sm:col-span-3">
        <%= form.label :end_date, style: "display: block" %>
        <div class="mt-2">
          <%= form.date_field :end_date, class: "w-full" %>
        </div>
      </div>
    </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.rich_text_area :content %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: @user_id %>
    <%= form.submit %>
  </div>

</div>
<% end %>
