<div id="<%= dom_id time_off_request %>">
  <p>
    <strong>Content:</strong>
    <%= time_off_request.content %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= time_off_request.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= time_off_request.end_date %>
  </p>

  <p>
    <strong>User:</strong>
    <%= time_off_request.user_request.user_id %>
  </p>

</div>
