<p style="color: green"><%= notice %></p>

<%= render @time_off_request %>

<div>
  <%= link_to "Edit this time off request", edit_time_off_request_path(@time_off_request) %> |
  <%= link_to "Back to time off requests", time_off_requests_path %>

  <%= button_to "Destroy this time off request", @time_off_request, method: :delete %>
</div>
