<div id="<%= dom_id experience %>">
  <p>
    <strong>Job title:</strong>
    <%= experience.job_title %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= experience.company_name %>
  </p>

  <p>
    <strong>Employment type:</strong>
    <%= experience.employment_type %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= experience.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= experience.end_date %>
  </p>

  <p>
    <strong>Work description:</strong>
    <%= experience.work_description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= experience.user_id %>
  </p>

</div>
