<%= form_with( model: [@user, @experience], class: "mt-5 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2") do |form| %>
  <div class="px-4 py-6 sm:p-8">
    <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="sm:col-span-full">
        <%= form.label :job_title, t("attributes.experience.job_title") %>
        <div class="mt-2">
          <%= form.text_field :job_title, class: "w-full" %>
          <%= inline_error_for(:job_title, @experience).html_safe %>
        </div>
      </div>
      <div class="sm:col-span-full">
        <%= form.label :company_name, t("attributes.experience.company_name") %>
        <div class="mt-2">
          <%= form.text_field :company_name, class: "w-full" %>
          <%= inline_error_for(:company_name, @experience).html_safe %>
        </div>
      </div>
      <div class="sm:col-span-full">
        <%= form.label :employment_type, t("attributes.experience.employment_type") %>
        <div class="mt-2">
          <%= form.select :employment_type, options_for_select(Experience.employment_types.map {|key, value| [key.humanize, key]}, @experience.employment_type) %>
          <%= inline_error_for(:employment_type, @experience).html_safe %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= form.label :start_date, t("attributes.shared.start_date") %>
        <div class="mt-2">
          <%= form.date_field :start_date, class: "w-full" %>
          <%= inline_error_for(:start_date, @experience).html_safe %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= form.label :end_date, t("attributes.shared.end_date") %>
        <div class="mt-2">
          <%= form.date_field :end_date, class: "w-full" %>
          <%= inline_error_for(:end_date, @experience).html_safe %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= form.label :country, t("attributes.shared.country") %>
        <div class="mt-2">
          <%= form.select :country, options_for_select(Experience.countries.map {|key, value| [key.humanize, key]}, form.object.country) %>
          <%= inline_error_for(:country, @experience).html_safe %>
        </div>
      </div>
      <div class="sm:col-span-3">
        <%= form.label :city, t("attributes.shared.city") %>
        <div class="mt-2">
          <%= form.text_field :city, class: "w-full" %>
          <%= inline_error_for(:city, @experience).html_safe %>
        </div>
      </div>
      <div class="col-span-full">
        <%= form.label :work_description, t("attributes.experience.work_description") %>
        <div class="mt-2">
          <%= form.text_area :work_description, class: "px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6", rows: 5 %>
          <%= inline_error_for(:work_description, @experience).html_safe %>
        </div>
      </div>
    </div>
  </div>
  <div class="flex items-center justify-end gap-x-6 border-t border-gray-900/10 px-4 py-4 sm:px-8">
    <button data-action="click->right#hide" type="button" class= "text-sm font-semibold leading-6 text-gray-900">
      <%= t("buttons.cancel") %>
    </button>
    <%= form.submit t("buttons.save"), class: "rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600" %>
  </div>
<% end %>
