<%= form_with(model: [user, emergency_contact], class: "table-4 min-w-full") do |form| %>
  <div>
    <%= form.text_field :name, class: "w-full" %>
    <%= inline_error_for(:name, emergency_contact).html_safe %>
  </div>
  <div>
    <%= form.text_field :email, class: "w-full" %>
    <%= inline_error_for(:email, emergency_contact).html_safe %>
  </div>
  <div>
    <%= form.select :relationship, options_for_select(EmergencyContact.relationships.map {|key, value| [key.humanize, key]}, emergency_contact.relationship) %>
    <%= inline_error_for(:relationship, emergency_contact).html_safe %>
  </div>
  <div>
    <%= form.text_field :phone, class: "w-full" %>
    <%= inline_error_for(:phone, emergency_contact).html_safe %>
  </div>

  <div class="inline">
    <%= form.submit (action_name == 'new' ? t("buttons.add") : t("buttons.edit") ), class: "w-full" %>
  </div>
  
<% end %>

