<div class="sm:mx-auto sm:w-full sm:max-w-md">
  <h2 class="mt-6 text-center text-3xl font-bold tracking-tight text-gray-700 dark:text-gray-200">Sign in to your account</h2>
  <p class="mt-2 text-center text-sm text-gray-600 dark:text-gray-300">
    Or
    <a class="font-medium text-gold-600 hover:text-gold-500" href="<%= url_for(new_registration_url(resource_name)) %>">sign up for a new account</a>
  </p>
</div>
<div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
  <div class="bg-white shadow rounded-lg dark:bg-gray-800 dark:ring-1 dark:ring-white/10 dark:ring-inset ">
    <div class="p-8 ">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="space-y-6">
        <div>
          <%= f.label :email, class: "block text-sm font-medium text-gray-700 dark:text-gray-200 " %>
          <div class="mt-1 relative rounded-md shadow-sm">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "block w-full border rounded-md py-2 px-3 focus:outline-none dark:bg-gray-700/50 dark:border-gray-500 dark:text-gray-300 dark:placeholder-gray-400 dark:focus:ring-gray-500 dark:focus:ring-2 dark:focus:border-transparent border-gray-300 focus:ring-blue-600 focus:border-blue-600 dark-form-input border-red-400 text-red-600 placeholder-red-300 focus:ring-red-500 focus:border-red-500" %>
          </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
