<%= render partial: 'users/submenu', locals: {user: @user} %>
<%= turbo_frame_tag "tabbed-content" do %>
  <div class="px-4 sm:px-6 lg:px-8 mt-10">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1><%= t("views.assets.title_assets") %></h1>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%= render 'create_button' %>
      </div>
    </div>
    <div class="my-8">
      <ul id='assets-list' role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">
        <% @assets.each do |asset| %>
          <%= render asset %>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
