<h1><span class="text-indigo-500">Survey: </span><%= @survey.name %></h1>
<% @survey.sections.each_with_index do |section, index| %>
  <div class="mt-10 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2 p-6">
    <h2 class="text-2xl font-bold tracking-tight text-gray-500 sm:text-2xl"><span class="text-indigo-500">Section <%= index + 1 %>: </span><%= section.name %></h2>
    <p class="mt-2 text-lg leading-8 text-gray-600"><%= section.description %></p>
    <% section.questions.each_with_index do |question, index| %>
      <div class="my-5 bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl md:col-span-2 p-3">
        <h2 class="text-xl font-bold tracking-tight text-gray-900 sm:text-xl"><span class="text-indigo-500">Question <%= index + 1 %>: </span><%= question.title %></h2>
        <div class="m-3">
          <% case question.question_type %>
          <% when 'single_select' %>
            <% question.options.each do |option| %>
              <p>
                <%= radio_button_tag question.id, option.id %>
                <%= option.name %>
              </p>
            <% end %>
          <% when 'multiple_select' %>
            <% question.options.each do |option| %>
              <p>
                <%= check_box_tag question.id, option.id %>
                <%= option.name %>
              </p>
            <% end %>
          <% when 'textbox' %>
            <%= text_area_tag question.id %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="m-2">
      <%= link_to "+ Add question", new_survey_section_question_path(@survey, Section.first) %>
    </div>
  </div>
<% end %>
<div class="m-4">
  <%= link_to "+ Add section", new_survey_section_path(@survey) %>
</div>