<div class="border-t border-gray-100">
  <dl class="divide-y divide-gray-100">
    <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
      <dt class="px-5 text-sm font-medium leading-6 text-gray-900"><%= t("attributes.goal.owned_by") %></dt>
      <dd class="px-5 mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= owner.full_name %></dd>
    </div>
    <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
      <dt class="px-5 text-sm font-medium leading-6 text-gray-900"><%= t("attributes.goal.level") %></dt>
      <dd class="px-5 mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= Goal.human_enum_name(:level, goal.level) %></dd>
    </div>
    <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
      <dt class="px-5 text-sm font-medium leading-6 text-gray-900"><%= t("attributes.goal.status") %></dt>
      <dd class="px-5 mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
        <span class="inline-flex items-center rounded-full px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset <%= button_class_for_goal_status(goal) %>">
          <%= goal.what_is_the_status? %>
        </span>
      </dd>
    </div>
    <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
      <dt class="px-5 text-sm font-medium leading-6 text-gray-900"><%= t("attributes.goal.start_date") %></dt>
      <dd class="px-5 mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= goal.start_date %></dd>
    </div>
    <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
      <dt class="px-5 text-sm font-medium leading-6 text-gray-900"><%= t("attributes.goal.due_date") %></dt>
      <dd class="px-5 mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= goal.due_date %></dd>
    </div>
    <div class="bg-white px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
      <dt class="px-5 text-sm font-medium leading-6 text-gray-900"><%= t("attributes.goal.description") %></dt>
      <dd class="px-5 mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= goal.description %></dd>
    </div>
    <% if goal.end_goal_description.present? %>
      <div class="bg-gray-50 px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-3">
        <dt class="px-5 text-sm font-medium leading-6 text-gray-900"><%= t("attributes.goal.end_goal_description") %></dt>
        <dd class="px-5 mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0"><%= goal.end_goal_description %></dd>
      </div>
    <% end %>
  </dl>
</div>
