<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1>Goals </h1>
    </div>
  </div>

  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 sm:rounded-lg">
          <table class="min-w-full divide-y divide-gray-300">
            <thead class="bg-gray-50">
              <tr>
                  <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"><%= t("attributes.goal.title") %></th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t("attributes.goal.status") %></th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= t("attributes.goal.scale") %></th>
                  <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900"><%= "Contribution" %></th>
              </tr>
            </thead>
            <tbody id="goal-list" class="divide-y divide-gray-200 bg-white">
              <% @goals.each do |goal| %>
              <tr id="<%= dom_id goal %>">
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-6"><%= goal.title %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <span class="inline-flex items-center rounded-full px-1.5 py-0.5 text-xs font-medium ring-1 ring-inset <%= button_class_for_goal_status(goal) %>">
                    <%= goal.what_is_the_status? %>
                  </span>
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= Goal.importance_factor(goal: goal, goals: @goals) * 100 %>%
                </td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
                  <%= Goal.completion_factor(goal: goal, goals: @goals).to_i  %>%
                </td>
              </tr>
              <% end %>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
