<tr id="<%= dom_id expense %>">
  <% unless @user %>
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm text-gray-500 sm:pl-6">
      <div class="flex items-center">
        <div class="h-11 w-11 flex-shrink-0">
          <%= image_tag expense.user.avatar_url_or_default, class: "h-11 w-11 rounded-full" %>
        </div>
        <div class="ml-4">
          <div class="font-medium text-gray-900"><%= expense.user.full_name %></div>
          <div class="mt-1 text-gray-500"><%= expense.user.email %></div>
        </div>
      </div>
    </td>
  <% end %>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= Expense.human_enum_name(:category, expense.category) %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= expense.date %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= truncate(expense.description, length: 40) %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= t("views.expenses.labels.#{expense.aasm_state}") %></td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <%= link_to user_expense_path(expense.user, expense), data: { turbo_frame: "_top" } do %>
      <svg class="inline-block w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" d="M2.036 12.322a1.012 1.012 0 010-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178z" />
        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
      </svg>
    <% end %>
    <% unless expense.rejected? || expense.paid? %>
      <%= link_to edit_user_expense_path(expense.user, expense), data: { turbo_frame: "right_content", action: "right#show" } do %>
        <svg class="inline-block ml-4 w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z"></path>
        </svg>
      <% end %>
      <%= button_to "/users/#{expense.user.id}/expenses/#{expense.id}", method: :delete, form_class: "inline-block ml-4", data: { turbo_confirm: "Are you sure you wanna delete this?" } do %>
        <svg class="inline-block w-6 h-6 text-red-500" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
      <% end %>
    <% end %>
  </td>
</tr>
