<div id="<%= dom_id education %>">
  <p>
    <strong>School:</strong>
    <%= education.school %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= education.country %>
  </p>

  <p>
    <strong>City:</strong>
    <%= education.city %>
  </p>

  <p>
    <strong>Education level:</strong>
    <%= education.education_level %>
  </p>

  <p>
    <strong>Study field:</strong>
    <%= education.study_field %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= education.start_date %>
  </p>

  <p>
    <strong>End date:</strong>
    <%= education.end_date %>
  </p>

  <p>
    <strong>Still on this course:</strong>
    <%= education.still_on_this_course %>
  </p>

  <p>
    <strong>User:</strong>
    <%= education.user_id %>
  </p>

</div>
