<%= form_with(model: education) do |form| %>
  <% if education.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(education.errors.count, "error") %> prohibited this education from being saved:</h2>

      <ul>
        <% education.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :school, style: "display: block" %>
    <%= form.text_field :school %>
  </div>

  <div class="sm:col-span-4">
    <%= form.label :country, class: "block text-sm font-medium leading-6 text-gray-900" %> 
    <div class="mt-2 px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
      <%= form.select :country, options_for_select(Education.countries.map {|key, value| [key.humanize, key]}) %>
    </div>
  </div>

  <div>
    <%= form.label :city, style: "display: block" %>
    <%= form.text_field :city %>
  </div>

  <div class="sm:col-span-4">
    <%= form.label :education_level, class: "block text-sm font-medium leading-6 text-gray-900" %> 
    <div class="mt-2 px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
      <%= form.select :education_level, options_for_select(Education.education_levels.map {|key, value| [key.humanize, key]}) %>
    </div>
  </div>

  <div class="sm:col-span-4">
    <%= form.label :study_field, class: "block text-sm font-medium leading-6 text-gray-900" %> 
    <div class="mt-2 px-3 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
      <%= form.select :study_field, options_for_select(Education.study_fields.map {|key, value| [key.humanize, key]}) %>
    </div>
  </div>

  <div>
    <%= form.label :start_date, style: "display: block" %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, style: "display: block" %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :still_on_this_course, style: "display: block" %>
    <%= form.check_box :still_on_this_course %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
