<%= render partial: 'users/submenu', locals: {user: @user} %>
<%= turbo_frame_tag "tabbed-content" do %>
  <div class="px-4 sm:px-6 lg:px-8 mt-10">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1><%= t("views.time_requests.title_time_request") %></h1>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%= link_to "Create time off request", new_user_time_request_path(@user.id), class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", data: { turbo_frame: "right_content", action: "right#show" } %>
      </div>
    </div>
    <div class="min-w-full my-8">
      <div class="table-5 font-medium text-sm min-w-full rounded-tr-lg rounded-tl-lg">
        <div><%= t("attributes.time_request.category") %></div>
        <div><%= t("attributes.shared.start_date") %></div>
        <div><%= t("attributes.shared.end_date") %></div>
        <div><%= t("attributes.user_request.state") %></div>
        <div><%= t("attributes.user_request.managed_by") %></div>
        <div></div>
      </div>
      <div id="time-request-list">
        <%= render @time_requests %>
      </div>
    </div>
  </div>
<% end %>
