<%= render partial: 'shared/user_overview', locals: {user: @user} %>
<%= render partial: 'users/submenu', locals: {user: @user} %>
<%= turbo_frame_tag "tabbed-content" do %>
  <div class="px-4 sm:px-6 lg:px-8 mt-10">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-indigo-500">Time off requests</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all of your time off requests.</p>
      </div>
      <div class="mt-4 sm:ml-16 sm:mt-0 sm:flex-none">
        <%= link_to "Create time off request", new_user_time_request_path(@user.id), class: "block rounded-md bg-indigo-600 px-3 py-2 text-center text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600", data: { turbo_frame: "_top" } %>
      </div>
    </div>
    <div class="min-w-full my-8">
      <div class="table-5 font-medium text-sm min-w-full rounded-tr-lg rounded-tl-lg">
        <div>Category</div>
        <div>Start Date</div>
        <div>End Date</div>
        <div>State</div>
        <div>Managed by</div>
        <div></div>
      </div>
      <div id="time_requests">
        <%= render @time_requests %>
      </div>
    </div>
  </div>
<% end %>
