<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title>GRH</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "/assets/application.js", "data-turbo-track": "reload", defer: true %>
<script src="https://kit.fontawesome.com/6526cfd35e.js" crossorigin="anonymous"></script>  </head>

  <body class="h-full">

    <%= render partial: "layouts/alert" %>
    <% if current_user %>
      <%= render partial: "layouts/main" %>
    <% else %>
      <%= render partial: "layouts/guest" %>
    <% end %>
  </body>
</html>
